<template>
  <div class="add-form inner-page">
    <h2 v-if="!form.id">Add New Form</h2>
    <h2 v-else class="d-flex justify-content-between align-items-center">
      Update Form
      <div>
        <a
          href="#"
          class="btn btn-sm btn-outline-secondary me-2"
          v-if="sectionsLoad"
          @click="duplicateForm"
          >Duplicate</a
        >
        <a href="#" class="btn btn-sm btn-outline-danger" @click="deleteForm"
          >Delete Form</a
        >
      </div>
    </h2>

    <div class="d-flex align-items-center">
      <div class="form-check small mt-2 me-3">
        <input
          v-model="form.status"
          true-value="1"
          false-value="0"
          class="form-check-input"
          type="checkbox"
          :disabled="!form.id"
        />
        Answered
      </div>
      <small class="text-muted">Form Password:</small>
      <input class="form-control form-control-sm text-muted ms-1" maxlength="4" v-model="form.form_pass" style="width: 70px;" />
    </div>

    <form @submit="submitForm">
      <div class="my-2">
        <input
          type="text"
          v-model="form.title"
          class="form-control"
          id="input_form_title"
          placeholder="Form Title"
        />
      </div>

      <h4
        class="mb-2 pb-3 pt-2 d-flex align-items-end sticky-top bg-white"
        style="top: -1px"
      >
        Sections
        <span class="small text-muted mx-2" v-if="!sectionsLoad && form.id"
          >Yükleniyor...</span
        >
        <!-- <div class="form-check form-switch h6 ms-3 pt-1">
          <label class="form-check-label" for="flexSwitchCheckDefault">
            editable
            <input
              class="form-check-input"
              type="checkbox"
              v-model="sectionEditable"
              id="flexSwitchCheckDefault"
            />
          </label>
        </div> -->

        <div class="ms-auto">
          <router-link
            v-if="form.id || addedFormId"
            :to="`/form/${form.id ? form.id : addedFormId}`"
            class="btn btn-sm btn-outline-dark"
            target="_blank"
            >View</router-link
          >

          <button v-if="!form.id" class="btn btn-dark btn-sm mt-4 ms-2" type="submit">
            SEND FORM
          </button>
          <button v-else class="btn btn-dark btn-sm ms-2" type="submit">
            SAVE FORM
          </button>
        </div>

      </h4>

      <div v-if="sectionsLoad" class="sections-wrap container-brief py-5">
        <div v-for="(section, index) in form.sections" :key="index">
          <section-input
            v-bind:edit="sectionEditable"
            v-bind:section="section"
            @deleteAction="deleteSection(index)"
            :class="
              sectionEditable ? 'border-4 border-bottom border-white pb-5 pt-3' : 'pb-2'
            "
          />
        </div>

        <div v-if="sectionEditable" class="text-center">
          <button
            type="button"
            class="btn btn-sm btn-secondary ms-auto mt-2"
            @click="addSection"
          >
            + Add Section
          </button>
        </div>
      </div>
      <!-- .sections-wrap -->

    </form>
  </div>
</template>

<script>
import SectionInput from "@/components/SectionInput.vue";
import SectionModel from "../models/SectionModel";
import FormModel from "../models/FormModel";

export default {
  name: "EditForm",
  data() {
    return {
      form: new FormModel(),
      sectionsLoad: false,
      sectionEditable: true,
      addedFormId: false,
    };
  },
  mounted() {
    if (this.$route.params.id) {
      var detailDatas = this.$store.state.forms.filter(
        (form) => form.id == this.$route.params.id
      );
      if (detailDatas.length > 0) {
        this.form = new FormModel(detailDatas[0]);
        /* this.sectionEditable = false; */
        // load sections
        this.$store
          .dispatch("getFormAnswers", this.form.id)
          .then((sections) => {
            this.form.sections = sections.map(
              (section) => new SectionModel(section)
            );
            this.sectionsLoad = true;
          });
      } else {
        this.sectionsLoad = true;
        alert("Bulunamadı");
        this.$router.push("/forms");
      }
    } else {
      this.sectionsLoad = true;
    }
  },
  methods: {
    addSection() {
      var section = new SectionModel();
      this.form.sections.push(section);
    },
    deleteSection(index) {
      if (this.form.sections[index]) {
        if (this.form.sections[index].id != null) {
          this.form.deletedSectionIds.push(this.form.sections[index].id);
        }
      }
      this.form.sections.splice(index, 1);
    },
    deleteForm() {
      var c = confirm("Silmek istediğinize eminmisiniz?");
      if (c) {
        this.$store.dispatch("deleteForm", this.form.id);
        this.$router.push("/forms");
      }
    },
    duplicateForm() {
      this.form.id = null;
      this.form.status = 0;
      this.form.updateDate = '';
    },
    submitForm(e) {
      e.preventDefault();
      console.log(this.form);
      if (this.form.id) {
        this.$store.dispatch("updateForm", this.form).then((res) => {
          alert("Güncellendi");
        });
      } else {
        this.$store.dispatch("addForm", this.form).then((res) => {
          this.addedFormId = res;
          alert("Eklendi");
        });
      }
    },
  },
  components: {
    SectionInput,
  },
};
</script>

<style scoped>
.sections-wrap {
  background-color: var(--main-bg);
}
</style>