<template>
  <div class="forms inner-page">
    <h1 class="h2 d-flex">
      Forms
      <router-link to="/add-form" class="btn btn-dark ms-auto"
        >Add New Form</router-link
      >
    </h1>

    <table v-if="isLoad" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            <a @click="sortGenerate('id')">
              id
              <span v-if="$store.state.formsSortBy == 'id'">
                <span v-if="$store.state.formsDirection == 'DESC'">&uarr;</span>
                <span v-else>&darr;</span>
              </span>
            </a>
          </th>
          <th scope="col">
            <a @click="sortGenerate('title')">
              title
              <span v-if="$store.state.formsSortBy == 'title'">
                <span v-if="$store.state.formsDirection == 'DESC'">&uarr;</span>
                <span v-else>&darr;</span>
              </span>
            </a>
          </th>
          <th scope="col">
            <a @click="sortGenerate('createdDate')">
              createdDate
              <span v-if="$store.state.formsSortBy == 'createdDate'">
                <span v-if="$store.state.formsDirection == 'DESC'">&uarr;</span>
                <span v-else>&darr;</span>
              </span>
            </a>
          </th>
          <th scope="col">
            <a @click="sortGenerate('updateDate')">
              updateDate
              <span v-if="$store.state.formsSortBy == 'updateDate'">
                <span v-if="$store.state.formsDirection == 'DESC'">&uarr;</span>
                <span v-else>&darr;</span>
              </span>
            </a>
          </th>
          <th scope="col">
            <a @click="sortGenerate('status')">
              status
              <span v-if="$store.state.formsSortBy == 'status'">
                <span v-if="$store.state.formsDirection == 'DESC'">&uarr;</span>
                <span v-else>&darr;</span>
              </span>
            </a>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="form in $store.state.forms" :key="form.id">
          <th scope="row">{{ form.id }}</th>
          <td>{{ form.title }}</td>
          <td>{{ form.createdDate }}</td>
          <td>{{ form.updateDate }}</td>
          <td>{{ form.status == 1 ? "Answered" : "Not Answered" }}</td>
          <td class="d-flex justify-content-end">
            <router-link
              :to="`/update-form/${form.id}`"
              class="btn btn-sm btn-secondary"
              >Edit</router-link
            >
            <router-link
              :to="`/form/${form.id}`"
              class="btn btn-sm btn-light ms-2"
              target="_blank"
              >View</router-link
            >
          </td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="form sayfaları">
      <ul class="pagination mt-5">
        <li class="page-item" :class="{ disabled: currentPage == 1 }">
          <a class="page-link" @click="goPage(currentPage - 1)">Previous</a>
        </li>
        <li
          v-for="pageNumber in Math.ceil(
            $store.state.formsTotal / $store.state.formsLimit
          )"
          :key="pageNumber"
          class="page-item"
          :class="{ active: pageNumber == currentPage }"
        >
          <a class="page-link" @click="goPage(pageNumber)">{{ pageNumber }}</a>
        </li>
        <li
          class="page-item"
          :class="{
            disabled:
              currentPage ==
              Math.ceil($store.state.formsTotal / $store.state.formsLimit),
          }"
        >
          <a class="page-link" @click="goPage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentPage: 1,
      isLoad: true,
    };
  },
  name: "Home",
  methods: {
    goPage(pageNumber) {
      if (pageNumber == this.currentPage) {
        return;
      }
      this.isLoad = false;
      this.currentPage = pageNumber;
      this.$store
        .dispatch("getAllForms", { page: this.currentPage })
        .then((res) => {
          this.isLoad = true;
        });
    },
    sortGenerate(sortByName) {
      var direction = 'DESC';
      if(this.$store.state.formsSortBy == sortByName) {
        if(this.$store.state.formsDirection == 'DESC') {
          direction = 'ASC';
        }
      }
      this.isLoad = false;
      this.$store
        .dispatch("getAllForms", {
          page: this.currentPage,
          sort_by: sortByName,
          direction: direction,
        })
        .then((res) => {
          this.isLoad = true;
        });
    },
  },
};
</script>
