<template>
  <div class="form-detail">
    <form @submit="submitForm">
      <header class="brief-header no-print">
        <div class="container-brief">
          <div class="header-head">
            <a
              href="http://thebluered.co.uk/"
              class="custom-logo-link logo-innerpage"
              rel="home"
              aria-current="page"
              title="The Blue Red"
            >
              <img
                width="200"
                height="37"
                src="http://thebluered.co.uk/wp-content/uploads/2021/05/cropped-logo-1-e1621355087557.png"
                class="custom-logo"
                alt="The Blue Red"
              /> </a
            ><!-- .logo -->
            <div class="header-head-subtitle">Brief central</div>
          </div>
          <div
            v-if="filterCategoryNames != null && filterCategoryNames.length > 0"
            id="brief-navigation"
          >
            <label>
              Kategori Seçiniz:
              <select v-model="selectedCatText">
                <option
                  v-for="(filterName, index) in filterCategoryNames"
                  :key="index"
                >
                  {{ filterName }}
                </option>
              </select>
            </label>
          </div>
          <!-- .site-navigation -->
        </div>
        <!-- .container-brief -->
      </header>

      <main class="brief-main py-5">
        <div v-if="form.form_pass == userPass || isAdmin != null" class="brief-content container-brief">
          <section-input
            v-for="(section, index) in filteredSectionList"
            :key="index"
            v-bind:section="section"
          />

          <div class="main-actions no-print">
            <!-- <div v-if="form.status == 1" class="mt-5 mb-1">
              <a type="button" onclick="window.print();return false;">PDF olarak indir</a>
            </div> -->

            <button class="mt-4" type="submit" :disabled="isLoading">
              {{ form.status == 0 ? "FORMU GÖNDER" : "FORMU KAYDET" }}
            </button>

            <span v-if="isSend" class="py-5 py-5 ms-3 h6">
              Teşekkürler! Vermiş olduğunuz bilgiler ekibimize iletilmiştir.
            </span>
          </div>
        </div>
        <!-- .brief-content -->
        <div v-else class="d-flex flex-column align-items-center mt-5">
          Formu görüntülemek için lütfen güvenlik kodunu girin.
          <input v-model="userPass" class="text-center mt-3 mb-2 fs-3" @keyup="passCtrl" />
          <small v-if="userPassErrorText" class="text-danger">{{userPassErrorText}}</small>
        </div>
      </main>


      <footer class="brief-footer no-print">
        <div class="container-brief">
          <div class="site-info">
            <a
              href="http://thebluered.co.uk/"
              style="text-decoration: none; color: var(--primary-bg)"
            >
              Proudly powered by theBlueRed
            </a>
            <span style="display: none">
              Theme: thebluered by
              <a href="https://hhgsun.wordpress.com">HHGsun</a>.
            </span>
          </div>
          <!-- .site-info -->
        </div>
        <!-- .container-brief -->
      </footer>
    </form>
  </div>
</template>

<script>
import SectionInput from "@/components/SectionInput.vue";
import FormModel from "../models/FormModel";

export default {
  data() {
    return {
      form: new FormModel(),
      selectedCatText: "",
      filterCategoryNames: [],
      isSend: false,
      isLoading: false,
      userPass: '',
      userPassErrorText: null,
      isAdmin: null
    };
  },
  name: "FormDetail",
  computed: {
    filteredSectionList() {
      return this.form.sections.filter((section) => {
        return (
          section.category.includes(this.selectedCatText) ||
          section.category == ""
        );
      });
    },
  },
  mounted() {
    var formId = this.$route.params.id;
    if (formId) {
      this.$store.dispatch("getFormDetail", formId).then((res) => {
        this.form = res;
        this.categoryNamesCtrl();
      });
    }
    this.isAdmin = localStorage.getItem('isAdmin');
  },
  metaInfo() {
    return {
      title: `${this.form?.title} - theBlueRed Brief Central`,
    };
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      this.isLoading = true;
      console.log(this.form);
      if (this.form.id) {
        this.form.status = 1;
        this.$store.dispatch("updateForm", this.form).then((res) => {
          /* alert("Güncellendi"); */
          this.isLoading = false;
          this.isSend = true;
        });
      }
    },
    categoryNamesCtrl() {
      this.filterCategoryNames = [];
      this.form.sections.forEach((s) => {
        let catList = s.category.split(",");
        catList.forEach((cat) => {
          if (
            cat != null &&
            cat != "" &&
            !this.filterCategoryNames.includes(cat)
          ) {
            this.filterCategoryNames.push(cat.trim());
          }
        });
      });
      if (this.filterCategoryNames.length > 0) {
        this.selectedCatText = this.filterCategoryNames[0];
      }
    },
    passCtrl(){
      if(this.userPass.length > 3 && this.userPass != this.form.form_pass) {
        this.userPassErrorText = "Yanlış kod girişi, lütfen tekrar deneyin";
      } else {
        this.userPassErrorText = null;
      }
    },
  },
  components: {
    SectionInput,
  },
};
</script>

<style scoped>
button[disabled="disabled"] {
  opacity: 0.5;
  cursor: default;
}
button[disabled="disabled"]:hover {
  border: 0;
  outline: 0;
}
</style>