<template>
  <div class="home inner-page">
    <h1 class="h2">HOME</h1>
    <p>
      Tüm formları görüntülemek ve düzenlemek için sol menüyü kullanabilirsiniz.
    </p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
}
</script>
