<template>
  <div class="login inner-page">
    <form @submit="sendLogin">
      <h1 class="h3 mb-3 fw-normal">Brief Central</h1>

      <div class="form-floating">
        <input
          type="text"
          v-model="username"
          class="form-control"
          id="floatingInput"
          placeholder="Username"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          v-model="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
        Sign in
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    sendLogin(e) {
      e.preventDefault();
      this.$store
        .dispatch("loginAdmin", {
          username: this.username,
          password: this.password,
        })
        .then((res) => {
          localStorage.setItem("isAdmin", res);
          this.$router.push('/');
        });
    },
  },
};
</script>

<style scoped>
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.login input {
  z-index: -1;
}
.login input:focus {
  z-index: 0;
  position: relative;
}
</style>