<template>
  <section
    class="d-flex flex-column mb-3 position-relative"
    :class="[section.category, 'section-type-' + section.input_type]"
  >
    <div v-if="edit" class="section-head d-flex align-items-center mb-3">
      <select
        v-model="section.input_type"
        class="form-select-type form-select form-select-sm"
        @change="changeInputType"
      >
        <option value="text">Inline Text</option>
        <option value="textarea">Text Area</option>
        <option value="checkbox">Checkbox</option>
        <option value="multi-checkbox">Checkboxes</option>
        <option value="selectbox">Selecbox</option>
        <option value="color">Colors</option>
        <option value="images">Images</option>
        <option value="image-scoring">Image Scoring</option>
      </select>
      <input
        v-model="section.category"
        placeholder="Categories (Logo,Web,...)"
        class="form-control form-control-sm ms-2 w-25 bg-light"
      />
      <div class="form-check small mt-1 ms-3">
        <input
          v-model="section.permission_edit"
          true-value="1"
          false-value="0"
          class="form-check-input"
          type="checkbox"
        />
        Permission Edit
      </div>

      <div class="section-control ms-auto d-flex align-items-center">
        <input
          type="number"
          v-model="section.order_number"
          class="order-number-input ms-1"
        />
        <small class="me-2">.sortable</small>
        <button
          @click="removeSection"
          class="btn-remove-section mb-1"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </button>
      </div>
      <!-- .section-control -->
    </div>
    <!-- .section-head -->

    <div class="d-flex flex-row align-items-center">
      <input
        type="checkbox"
        v-if="section.input_type == 'checkbox'"
        v-model="section.value[0]"
        class="me-3 ms-2 mb-2"
      />
      <label :style="section.input_type == 'checkbox' ? 'opacity:0.9' : ''">
        <span v-if="!edit">
          {{ section.label }}
          <small class="ms-1">{{ section.description }}</small>
        </span>
        <div class="d-flex flex-row" v-if="edit">
          <input type="text" v-model="section.label" placeholder="Label" />
          <input
            type="text"
            v-model="section.description"
            placeholder="Description"
            class="ms-3"
          />
        </div>
      </label>
    </div>

    <input
      v-if="section.input_type == 'text'"
      type="text"
      v-model="section.value[0]"
    />
    <textarea-autosize
      v-if="section.input_type == 'textarea'"
      ref="autoSizeTextarea"
      v-model="section.value[0]"
      :min-height="100"
    />

    <draggable
      v-if="section.input_type == 'color'"
      v-model="section.value"
      draggable=".multiple-item"
      class="multiple-wrap multi-color w-100 d-flex flex-wrap align-items-start"
    >
      <div
        class="multiple-item"
        v-for="(val, index) in section.value"
        :key="index"
      >
        <a
          v-if="isShowCtrl()"
          class="btn btn-sm btn-dark position-absolute"
          @click="section.value.splice(index, 1)"
          >x</a
        >
        <!-- <input type="color" v-model="section.value[index]" /> -->
        <verte
          value="#c4b5b5"
          v-model="section.value[index]"
          menuPosition="center"
        ></verte>
      </div>
      <a
        v-if="isShowCtrl()"
        class="btn btn-sm btn-dark ms-1 mt-1"
        @click="section.value.push('#eeeeee')"
        >+</a
      >
    </draggable>
    <!-- .multi-color -->

    <draggable
      v-if="section.input_type == 'images' || section.input_type == 'image-scoring'"
      v-model="section.value"
      draggable=".multiple-item"
      class="multiple-wrap multi-image w-100 d-flex flex-wrap align-items-start"
    >
      <div
        class="multiple-item"
        v-for="(val, index) in section.value"
        :key="index"
      >
        <a
          v-if="isShowCtrl()"
          class="btn btn-sm btn-dark position-absolute"
          @click="section.value.splice(index, 1)"
          >x</a
        >
        <img
          v-if="section.value[index] && section.value[index].fileName"
          :src="srcImageUrlCtrl(section.value[index])"
        />
        <select
          v-if="section.input_type == 'image-scoring'"
          v-model="section.value[index]['scor']"
        >
          <option>Puanlayınız</option>
          <option>Çok İyi</option>
          <option>İyi</option>
          <option>Orta</option>
          <option>Kötü</option>
        </select>
        <input
          v-if="isShowCtrl()"
          type="file"
          @change="onImageSelected($event, index)"
          multiple
        />
      </div>
      <a
        v-if="isShowCtrl()"
        class="btn btn-sm btn-dark ms-1 mt-2 no-print"
        @click="
          section.value.push(
            section.input_type == 'image-scoring' ? { scor: 'Puanlayınız' } : ''
          )
        "
        >+ Yeni Dosya Ekle</a
      >
    </draggable>
    <!-- .multi-image -->

    <div v-if="section.input_type == 'multi-checkbox'">
      <draggable
        v-if="edit"
        v-model="section.value"
        draggable=".drag-item"
        class="
          multiple-wrap
          multi-checkbox
          w-100
          d-flex
          flex-wrap
          align-items-start
        "
      >
        <span
          v-for="(val, index) in section.value"
          :key="index"
          style="max-width: 24%"
          class="drag-item"
        >
          <div
            v-if="val.selected != undefined && val.text != undefined"
            class="multiple-item d-flex align-items-center"
            style="max-width: 95%"
          >
            <a
              v-if="isShowCtrl()"
              class="btn btn-sm btn-dark position-absolute"
              @click="section.value.splice(index, 1)"
              >x</a
            >
            <input type="text" v-model="val.text" class="p-1" />
          </div>
        </span>
        <a
          v-if="isShowCtrl()"
          class="btn btn-sm btn-dark ms-1 mt-1"
          @click="section.value.push({ selected: false, text: '' })"
          >+</a
        >
      </draggable>
      <div v-else class="d-flex row gx-2 mx-0">
        <ul class="col list-group multi-checkbox-list position-relative">
          <span v-for="(val, index) in section.value" :key="index">
            <li
              v-if="
                val.selected != undefined &&
                val.text != undefined &&
                val.selected == false
              "
              class="
                d-flex
                list-group-item list-group-item-action
                align-items-center
              "
            >
              {{ val.text }}
              <span
                class="cursor text-dark ms-auto"
                @click="val.selected = true"
              >
                <svg
                  width="18"
                  height="18"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
              </span>
            </li>
          </span>
        </ul>
        <ul class="col list-group multi-checkbox-list position-relative">
          <span v-for="(val, index) in section.value" :key="index">
            <li
              v-if="
                val.selected != undefined &&
                val.text != undefined &&
                val.selected == true
              "
              class="
                d-flex
                list-group-item list-group-item-action
                align-items-center
              "
            >
              {{ val.text }}
              <span
                class="cursor text-danger ms-auto"
                @click="val.selected = false"
              >
                <svg
                  width="18"
                  height="18"
                  fill="currentColor"
                  class="bi bi-x-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </span>
            </li>
          </span>
        </ul>
      </div>
    </div>
    <!-- .multi-checkbox -->

    <div v-if="section.input_type == 'selectbox'">
      <draggable
        v-if="edit"
        v-model="section.value"
        draggable=".multiple-item"
        class="
          multiple-wrap
          selectbox-items
          w-100
          d-flex
          flex-wrap
          align-items-start
        "
      >
        <div
          class="multiple-item"
          v-for="(val, index) in section.value"
          :key="index"
          :hidden="index == 0"
        >
          <a
            v-if="isShowCtrl()"
            class="btn btn-sm btn-dark position-absolute"
            @click="section.value.splice(index, 1)"
            >x</a
          >
          <input type="text" v-model="section.value[index]" class="p-1" />
        </div>
        <a
          v-if="isShowCtrl()"
          class="btn btn-sm btn-dark ms-1 mt-1"
          @click="section.value.push('')"
          >+</a
        >
      </draggable>
      <select v-if="!edit" v-model="section.value[0]">
        <option
          v-for="(val, index) in section.value"
          :key="index"
          :hidden="index == 0"
        >
          {{ val }}
        </option>
      </select>
    </div>
    <!-- .selectbox-items -->
  </section>
</template>

<script>
import SectionModel from "../models/SectionModel";
import Verte from "verte";
import "verte/dist/verte.css";
import draggable from "vuedraggable";

export default {
  name: "SectionInput",
  props: {
    section: new SectionModel(),
    edit: false,
  },
  data() {
    return {
      placeholders: {}, // old values
    };
  },
  methods: {
    removeSection() {
      let c = confirm("Silmek istediğine emin misin?");
      if (c) {
        this.$emit("deleteAction");
      }
    },
    changeInputType() {
      /* if (this.section.input_type == "selectbox") {
      } */
    },
    onImageSelected(e, index) {
      e.target.files.forEach((file) => {
        if (file) {
          const saveObj = {
            file: file,
            fileName: Date.now().toString() + "__" + file.name,
            newAddedUrl: URL.createObjectURL(file),
            scor: this.section.value[index]["scor"]
              ? this.section.value[index]["scor"]
              : "Puanlayınız",
          };
          if (e.target.files.length > 1) {
            this.section.value.push(saveObj);
          } else {
            this.$set(this.section.value, index, saveObj);
          }
        }
      });
    },
    srcImageUrlCtrl(val) {
      if (val.file && val.file.size) {
        return val.newAddedUrl;
      }
      return this.$store.state.upload_url + val.fileName;
    },
    isShowCtrl() {
      return this.section.permission_edit == 1 || this.edit;
    },
  },
  components: {
    Verte,
    draggable,
  },
};
</script>

<style>
div:focus-visible,
small:focus-visible,
span:focus-visible {
  outline: 1px solid #808080;
  outline-offset: 3px;
}
.cursor {
  cursor: pointer;
}
.handle-drag {
  line-height: 1;
  margin-right: 5px;
  padding: 5px 8px 6px 8px;
  background: white;
  color: black;
  border: 1px solid #ced4da;
  cursor: move;
}
.form-select-type {
  max-width: 150px;
}
/**/
.section-head {
  opacity: 0.8;
}
section:hover .section-head {
  opacity: 1;
}
.order-number-input {
  background-color: transparent;
  width: 45px;
  border: 1px solid #ced4da;
  outline: none;
  text-align: right;
}
.order-number-input:focus {
  outline: none;
}
.btn-remove-section {
  border: 0;
}
.btn-remove-section:hover {
  color: red;
}

/**/
section label {
  margin-bottom: 0.8em;
  font-weight: 500;
  font-size: 0.9em;
}
section label small {
  font-weight: 400;
  color: var(--gray-color);
}
section label input {
  font-weight: 500;
  border: none !important;
  padding: 0 !important;
  min-width: 100%;
  outline: 1px solid #e2e2e2 !important;
  outline-offset: 4px;
  margin-left: 5px;
}
section label input:last-child {
  font-weight: 400;
  color: var(--gray-color);
}
section textarea,
section input[type="text"],
section input[type="file"] {
  position: relative;
  padding: 0.75em;
  background-color: transparent;
  border: 1px solid var(--dark-bg);
  outline: none;
  font-family: inherit;
  width: 100%;
  padding-right: 2.5em;
}
section input[type="file"] {
  cursor: pointer;
  margin-top: 5px;
  padding-right: 0.75em;
}
section input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
section input[type="file"]::before {
  content: "Dosya Seç";
  width: 100%;
  /* -webkit-user-select: none; */
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
section select {
  position: relative;
  padding: 0.75em;
  background-color: transparent;
  border: 1px solid var(--dark-bg);
  outline: none;
  font-family: inherit;
  width: 100%;
  padding-right: 2.5em;
}
section textarea:focus,
section input:focus {
  border-color: var(--primary-bg);
}
section input[type="color"] {
  height: 40px;
  width: 100%;
  padding: 0.1em;
  border: 0 !important;
}

/**/
.multiple-item {
  width: 100%;
  max-width: calc(20% - 0.4em);
  margin: 0 0.4em 0.4em 0em;
  position: relative;
}
.multiple-item a {
  right: 0;
  top: 0;
  padding: 0 8px 3px;
  display: none;
  z-index: 4;
}
.multiple-item:hover a {
  display: block;
}
.multiple-item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
/**/
.multi-image .multiple-item {
  max-width: calc(25% - 0.4em);
  min-height: 60px;
}
.multi-image .multiple-item img {
  position: relative;
  transition: all 0.2s;
  transform: scale(1);
  z-index: 0;
}
.multi-image .multiple-item img:hover {
  transform: scale(1.05);
  z-index: 1;
}
.multi-checkbox-list {
  max-height: 220px;
  overflow-y: auto;
}
.multi-checkbox-list::before {
  content: 'Seçim Yapılmadı';
  position: absolute;
  z-index: 0;
  color: var(--gray-color);
  width: 100%;
  text-align: center;
  font-size: .875em;
}
.multi-checkbox-list:first-child::before {
  content: 'Tümü Seçildi';
}
@media only screen and (max-width: 600px) {
  .multi-image .multiple-item {
    max-width: calc(50% - 0.4em);
    min-height: 60px;
  }
}
.verte__menu-origin {
  z-index: 10000;
}
button.verte__guide {
  width: 100% !important;
  background-color: currentColor !important;
  height: 38px;
}
.verte__recent {
  display: none;
}
</style>