:root {
	--primary-bg: #088bcb;
	--primary-color: white;
	--secondary-bg: #e32227;
	--secondary-color: white;
	--dark-bg: #1b1b1b;
	--dark-color: white;
	--light-bg: white;
	--light-color: #1b1b1b;
  --gray-color: #a2a2a2;
  --main-bg: #f4f4f4;
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
header.brief-header {
  padding: 30px 0;
}
header.brief-header .container-brief {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.brief-header .header-head-subtitle {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  margin-top: 10px;
}
header.brief-header select {
  padding-right: 11px;
  font-size: 0.9em;
  padding: 0.5em;
  border-color: var(--secondary-bg);
  color: var(--secondary-bg);
  outline: none;
  background-color: transparent;
  margin-left: 5px;
  min-width: 200px;
}

/* MAIN */
.container-brief {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
main.brief-main {
  background-color: var(--main-bg);
  min-height: 600px;
}

.brief-content button[type="submit"] {
  border: none;
  background-color: var(--dark-bg);
  color: var(--light-bg);
  padding: 1em 2em;
  cursor: pointer;
}
.brief-content button[type="submit"]:hover {
  outline: 2px solid var(--primary-bg);
}

/* FOOTER */
footer.brief-footer {
  padding: 2em 0;
  text-align: center;
  font-size: .8em;
}

@media only screen and (max-width: 600px) {
  header.brief-header .container-brief {
    flex-direction: column;
  }
  header.brief-header .header-head {
    margin-bottom: 1.5em;
  }
  .brief-content .multi-inputs {
    max-width: 100%;
  }
  .brief-content .multi-inputs .multi-inputs-item {
    max-width: calc(50% - 0.4em);
  }
  .brief-content input[type="file"] {
    width: 100%;
  }
}

/* print styles */
@media print {
  @page { margin: 1cm }
  .no-print {
    display: none !important;
  }
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
  * {
    background-image: none !important;
  }
  section.section-type-images,
  section.section-type-image-scoring {
    margin-bottom: 100px;
  }
  section.section-type-textarea label {
    margin-bottom: 0;
  }
  section.section-type-textarea textarea {
    margin-bottom: 30px;
  }
  input[type='color'] {
    -webkit-print-color-adjust: exact;
  }
  section input[type="file"] {
    padding: 5px !important;
    margin: 0;
    height: 30px;
  }
  section input[type="file"]::-webkit-file-upload-button {
    visibility: visible;
  }
  section input[type="file"]::before {
    display: none;
  }
  .section-type-checkbox input {
  }
}